# Delta table 
- Update 
- Delete

In [1]:
import os
import logging
import configparser

# Read from config

In [2]:
config = configparser.ConfigParser()
root_path = os.path.abspath(os.path.join(os.getcwd(), ".."))
config.read(os.path.join(root_path, "configs","config.ini"))

['/opt/spark/work-dir/configs/config.ini']

# Logging function 
-

In [3]:
# Create a logger
logger = logging.getLogger("EMP_DELTA_CRUD")

# Set the level of the logger
logger.setLevel(logging.INFO)

# Create a FileHandler object and specify the file path
log_file_path = config['LOGS']['log_path']
file_path = os.path.join(log_file_path,"employee_delta_crud.log")
os.makedirs(os.path.dirname(file_path), exist_ok=True)
file_handler = logging.FileHandler(file_path)

# Set the format for the log messages
formatter = logging.Formatter('%(asctime)s - %(name)s - %(levelname)s - %(message)s')
file_handler.setFormatter(formatter)

# Logger handler 
logger.addHandler(file_handler)

# Read from delta table

In [4]:
try:
    logger.info("start reading the delta table")
    emp_delta_table = os.path.join(config['DELTA']['delta_table_path'],"datq", "employee")
    empdf = (spark
             .read
             .format("delta")
             .load(emp_delta_table)
            )
    logger.info("end reading the delta")
except: 
    logger.error("cannot read delta table")

In [6]:
empdf.show(1,vertical=True)

-RECORD 0-----------------------------------
 Age                      | 41
 Attrition                | 1
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1102
 Department               | Sales
 DistanceFromHome         | 1
 Education                | 2
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 1
 EnvironmentSatisfaction  | 2
 Gender                   | Female
 HourlyRate               | 94
 JobInvolvement           | 3
 JobLevel                 | 2
 JobRole                  | Sales Executive
 JobSatisfaction          | 4
 MaritalStatus            | Single
 MonthlyIncome            | 5993
 MonthlyRate              | 19479
 NumCompaniesWorked       | 8
 Over18                   | Y
 OverTime                 | Yes
 PercentSalaryHike        | 11
 PerformanceRating        | 3
 RelationshipSatisfaction | 1
 StandardHours            | 80
 StockOptionLevel         | 0
 TotalWorkingYears        | 8
 TrainingTimesLastYear    | 0
 WorkLifeBalance          | 1
 YearsAtCompany           | 6
 YearsInCurrentRole       | 4
 YearsSinceLastPromotion  | 0
 YearsWithCurrManager     | 5
only showing top 1 row

In [15]:
empdf.filter(col("MonthlyIncome") > 10000).count()

219

# Acid properties

In [11]:
from delta.tables import DeltaTable
from pyspark.sql.functions import expr, col

# Update the delta file

In [8]:
emp_delta_data = os.path.join(config['DELTA']['delta_table_path'],"datq", "employee")
delta_table = DeltaTable.forPath(spark, emp_delta_data)

In [16]:
(delta_table
  .update(
    condition = expr("MonthlyIncome >= 12000"),
    set = { "JobSatisfaction": expr("JobSatisfaction + 1") }
  )
)

In [19]:
(delta_table
  .toDF()
  .orderBy("JobSatisfaction")
  .show(1,vertical=True)
)

-RECORD 0----------------------------------------
 Age                      | 29
 Attrition                | 0
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1389
 Department               | Research & Develo...
 DistanceFromHome         | 21
 Education                | 4
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 20
 EnvironmentSatisfaction  | 2
 Gender                   | Female
 HourlyRate               | 51
 JobInvolvement           | 4
 JobLevel                 | 3
 JobRole                  | Manufacturing Dir...
 JobSatisfaction          | 1
 MaritalStatus            | Divorced
 MonthlyIncome            | 9980
 MonthlyRate              | 10195
 NumCompaniesWorked       | 1
 Over18                   | Y
 OverTime                 | No
 PercentSalaryHike        | 11
 PerformanceRating        | 3
 RelationshipSatisfaction | 3
 StandardHours            | 80
 StockOptionLevel         | 1
 TotalWorkingYears        | 10
 TrainingTimesLastYear    | 1
 WorkLifeBalance          | 3
 YearsAtCompany           | 10
 YearsInCurrentRole       | 9
 YearsSinceLastPromotion  | 8
 YearsWithCurrManager     | 8
only showing top 1 row

# Check history

In [20]:
delta_table_history = (DeltaTable
                        .forPath(spark, emp_delta_data)
                        .history()
                      )

In [23]:
delta_table_history.show(vertical=True)

-RECORD 0-----------------------------------
 version             | 1
 timestamp           | 2023-11-25 16:23:...
 userId              | null
 userName            | null
 operation           | UPDATE
 operationParameters | {predicate -> (Mo...
 job                 | null
 notebook            | null
 clusterId           | null
 readVersion         | 0
 isolationLevel      | Serializable
 isBlindAppend       | false
 operationMetrics    | {numRemovedFiles ...
 userMetadata        | null
 engineInfo          | Apache-Spark/3.3....
-RECORD 1-----------------------------------
 version             | 0
 timestamp           | 2023-11-25 09:48:...
 userId              | null
 userName            | null
 operation           | WRITE
 operationParameters | {mode -> Overwrit...
 job                 | null
 notebook            | null
 clusterId           | null
 readVersion         | null
 isolationLevel      | Serializable
 isBlindAppend       | false
 operationMetrics    | {numFiles -> 1, n...
 userMetadata        | null
 engineInfo          | Apache-Spark/3.3....

In [24]:
(delta_table_history
   .select("version", "timestamp", "operation", "operationParameters", "operationMetrics", "engineInfo")
   .show()
)

+-------+--------------------+---------+--------------------+--------------------+--------------------+
|version|           timestamp|operation| operationParameters|    operationMetrics|          engineInfo|
+-------+--------------------+---------+--------------------+--------------------+--------------------+
|      1|2023-11-25 16:23:...|   UPDATE|{predicate -> (Mo...|{numRemovedFiles ...|Apache-Spark/3.3....|
|      0|2023-11-25 09:48:...|    WRITE|{mode -> Overwrit...|{numFiles -> 1, n...|Apache-Spark/3.3....|
+-------+--------------------+---------+--------------------+--------------------+--------------------+

# Delete the data

In [32]:
empdf.filter(col("Age") <= 18).count()

6

In [33]:
(delta_table
  .delete(
    condition = expr("Age <= 18")
  )
)

In [34]:
delta_table_history = (DeltaTable
                        .forPath(spark, emp_delta_data)
                        .history()
                      )

In [36]:
(delta_table_history
   .select("version", "timestamp", "operation", "operationParameters", "operationMetrics", "engineInfo")
   .show(vertical=True,truncate=False)
)

-RECORD 0----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 version             | 2
 timestamp           | 2023-11-25 16:35:18.513
 operation           | DELETE
 operationParameters | {predicate -> ["(Age <= 18)"]}
 operationMetrics    | {numRemovedFiles -> 1, numRemovedBytes -> 40890, numCopiedRows -> 1052, numAddedChangeFiles -> 0, executionTimeMs -> 784, numDeletedRows -> 6, scanTimeMs -> 416, numAddedFiles -> 1, numAddedBytes -> 40717, rewriteTimeMs -> 367}
 engineInfo          | Apache-Spark/3.3.2 Delta-Lake/2.3.0
-RECORD 1----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 version             | 1
 timestamp           | 2023-11-25 16:23:23.885
 operation           | UPDATE
 operationParameters | {predicate -> (MonthlyIncome#1086 >= 12000)}
 operationMetrics    | {numRemovedFiles -> 1, numRemovedBytes -> 40753, numCopiedRows -> 908, numAddedChangeFiles -> 0, executionTimeMs -> 1202, scanTimeMs -> 576, numAddedFiles -> 1, numUpdatedRows -> 150, numAddedBytes -> 40890, rewriteTimeMs -> 624}
 engineInfo          | Apache-Spark/3.3.2 Delta-Lake/2.3.0
-RECORD 2----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 version             | 0
 timestamp           | 2023-11-25 09:48:37.921
 operation           | WRITE
 operationParameters | {mode -> Overwrite, partitionBy -> []}
 operationMetrics    | {numFiles -> 1, numOutputRows -> 1058, numOutputBytes -> 40753}
 engineInfo          | Apache-Spark/3.3.2 Delta-Lake/2.3.0

# latest version of data

In [37]:
try:
    logger.info("start reading the delta table")
    emp_delta_table = os.path.join(config['DELTA']['delta_table_path'],"datq", "employee")
    empdf = (spark
             .read
             .format("delta")
             .load(emp_delta_table)
            )
    logger.info("end reading the delta")
except: 
    logger.error("cannot read delta table")

In [38]:
empdf.count()

1052

# Time travle in Delta table

In [39]:
emp_delta_table = os.path.join(config['DELTA']['delta_table_path'],"datq", "employee")
df = (spark
        .read
        .format("delta")
        .option("versionAsOf", 0) # we pass an option `versionAsOf` with the required version number we are interested in
        .load(emp_delta_table)
        .orderBy("EmployeeNumber")
      )

df.show(3, vertical=True, truncate=False)

-RECORD 0------------------------------------------
 Age                      | 41
 Attrition                | 1
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1102
 Department               | Sales
 DistanceFromHome         | 1
 Education                | 2
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 1
 EnvironmentSatisfaction  | 2
 Gender                   | Female
 HourlyRate               | 94
 JobInvolvement           | 3
 JobLevel                 | 2
 JobRole                  | Sales Executive
 JobSatisfaction          | 4
 MaritalStatus            | Single
 MonthlyIncome            | 5993
 MonthlyRate              | 19479
 NumCompaniesWorked       | 8
 Over18                   | Y
 OverTime                 | Yes
 PercentSalaryHike        | 11
 PerformanceRating        | 3
 RelationshipSatisfaction | 1
 StandardHours            | 80
 StockOptionLevel         | 0
 TotalWorkingYears        | 8
 TrainingTimesLastYear    | 0
 WorkLifeBalance          | 1
 YearsAtCompany           | 6
 YearsInCurrentRole       | 4
 YearsSinceLastPromotion  | 0
 YearsWithCurrManager     | 5
-RECORD 1------------------------------------------
 Age                      | 49
 Attrition                | 0
 BusinessTravel           | Travel_Frequently
 DailyRate                | 279
 Department               | Research & Development
 DistanceFromHome         | 8
 Education                | 1
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 2
 EnvironmentSatisfaction  | 3
 Gender                   | Male
 HourlyRate               | 61
 JobInvolvement           | 2
 JobLevel                 | 2
 JobRole                  | Research Scientist
 JobSatisfaction          | 2
 MaritalStatus            | Married
 MonthlyIncome            | 5130
 MonthlyRate              | 24907
 NumCompaniesWorked       | 1
 Over18                   | Y
 OverTime                 | No
 PercentSalaryHike        | 23
 PerformanceRating        | 4
 RelationshipSatisfaction | 4
 StandardHours            | 80
 StockOptionLevel         | 1
 TotalWorkingYears        | 10
 TrainingTimesLastYear    | 3
 WorkLifeBalance          | 3
 YearsAtCompany           | 10
 YearsInCurrentRole       | 7
 YearsSinceLastPromotion  | 1
 YearsWithCurrManager     | 7
-RECORD 2------------------------------------------
 Age                      | 37
 Attrition                | 1
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1373
 Department               | Research & Development
 DistanceFromHome         | 2
 Education                | 2
 EducationField           | Other
 EmployeeCount            | 1
 EmployeeNumber           | 4
 EnvironmentSatisfaction  | 4
 Gender                   | Male
 HourlyRate               | 92
 JobInvolvement           | 2
 JobLevel                 | 1
 JobRole                  | Laboratory Technician
 JobSatisfaction          | 3
 MaritalStatus            | Single
 MonthlyIncome            | 2090
 MonthlyRate              | 2396
 NumCompaniesWorked       | 6
 Over18                   | Y
 OverTime                 | Yes
 PercentSalaryHike        | 15
 PerformanceRating        | 3
 RelationshipSatisfaction | 2
 StandardHours            | 80
 StockOptionLevel         | 0
 TotalWorkingYears        | 7
 TrainingTimesLastYear    | 3
 WorkLifeBalance          | 3
 YearsAtCompany           | 0
 YearsInCurrentRole       | 0
 YearsSinceLastPromotion  | 0
 YearsWithCurrManager     | 0
only showing top 3 rows

In [40]:
df.count()

1058

In [41]:
emp_delta_table = os.path.join(config['DELTA']['delta_table_path'],"datq", "employee")
df = (spark
        .read
        .format("delta")
        .option("versionAsOf", 2) # we pass an option `versionAsOf` with the required version number we are interested in
        .load(emp_delta_table)
        .orderBy("EmployeeNumber")
      )

df.show(3, vertical=True, truncate=False)

-RECORD 0------------------------------------------
 Age                      | 41
 Attrition                | 1
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1102
 Department               | Sales
 DistanceFromHome         | 1
 Education                | 2
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 1
 EnvironmentSatisfaction  | 2
 Gender                   | Female
 HourlyRate               | 94
 JobInvolvement           | 3
 JobLevel                 | 2
 JobRole                  | Sales Executive
 JobSatisfaction          | 4
 MaritalStatus            | Single
 MonthlyIncome            | 5993
 MonthlyRate              | 19479
 NumCompaniesWorked       | 8
 Over18                   | Y
 OverTime                 | Yes
 PercentSalaryHike        | 11
 PerformanceRating        | 3
 RelationshipSatisfaction | 1
 StandardHours            | 80
 StockOptionLevel         | 0
 TotalWorkingYears        | 8
 TrainingTimesLastYear    | 0
 WorkLifeBalance          | 1
 YearsAtCompany           | 6
 YearsInCurrentRole       | 4
 YearsSinceLastPromotion  | 0
 YearsWithCurrManager     | 5
-RECORD 1------------------------------------------
 Age                      | 49
 Attrition                | 0
 BusinessTravel           | Travel_Frequently
 DailyRate                | 279
 Department               | Research & Development
 DistanceFromHome         | 8
 Education                | 1
 EducationField           | Life Sciences
 EmployeeCount            | 1
 EmployeeNumber           | 2
 EnvironmentSatisfaction  | 3
 Gender                   | Male
 HourlyRate               | 61
 JobInvolvement           | 2
 JobLevel                 | 2
 JobRole                  | Research Scientist
 JobSatisfaction          | 2
 MaritalStatus            | Married
 MonthlyIncome            | 5130
 MonthlyRate              | 24907
 NumCompaniesWorked       | 1
 Over18                   | Y
 OverTime                 | No
 PercentSalaryHike        | 23
 PerformanceRating        | 4
 RelationshipSatisfaction | 4
 StandardHours            | 80
 StockOptionLevel         | 1
 TotalWorkingYears        | 10
 TrainingTimesLastYear    | 3
 WorkLifeBalance          | 3
 YearsAtCompany           | 10
 YearsInCurrentRole       | 7
 YearsSinceLastPromotion  | 1
 YearsWithCurrManager     | 7
-RECORD 2------------------------------------------
 Age                      | 37
 Attrition                | 1
 BusinessTravel           | Travel_Rarely
 DailyRate                | 1373
 Department               | Research & Development
 DistanceFromHome         | 2
 Education                | 2
 EducationField           | Other
 EmployeeCount            | 1
 EmployeeNumber           | 4
 EnvironmentSatisfaction  | 4
 Gender                   | Male
 HourlyRate               | 92
 JobInvolvement           | 2
 JobLevel                 | 1
 JobRole                  | Laboratory Technician
 JobSatisfaction          | 3
 MaritalStatus            | Single
 MonthlyIncome            | 2090
 MonthlyRate              | 2396
 NumCompaniesWorked       | 6
 Over18                   | Y
 OverTime                 | Yes
 PercentSalaryHike        | 15
 PerformanceRating        | 3
 RelationshipSatisfaction | 2
 StandardHours            | 80
 StockOptionLevel         | 0
 TotalWorkingYears        | 7
 TrainingTimesLastYear    | 3
 WorkLifeBalance          | 3
 YearsAtCompany           | 0
 YearsInCurrentRole       | 0
 YearsSinceLastPromotion  | 0
 YearsWithCurrManager     | 0
only showing top 3 rows

In [42]:
df.count()

1052